.image-grid {
  padding-left: 50px;
  padding-right: 50px;
}

.image-container {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.search-button {
  margin-top: 10px;
  margin-bottom: 10px;
  --background: #0F4F7C;
}

@media (max-width: 576px) {
  .image-container {
    height: 75px;
    overflow: hidden;
    border-radius: 10px;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
